div.welcome {
    position: relative;
    /* z-index: -1; */
}

div.welcome img {
    width: 100%;
    /* z-index: -1; */
}

div.welcome > div.container {
    position: absolute;
    top: 15%;
    display: block;
}

div.welcome > div.container > div.text {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    /* -webkit-box-shadow: 0px 0px 15px 18px rgba(222, 222, 222, 0.9);
    -moz-box-shadow: 0px 0px 15px 18px rgb(222, 222, 222, 0.9);
    box-shadow: 0px 0px 15px 18px rgba(222, 222, 222, 0.9); */
}

div.text > p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: bold;
}

div.text > button {
    z-index: -2;
}

.navbar {
    -webkit-box-shadow: 0px 12px 28px 5px rgba(181, 181, 181, 1);
    -moz-box-shadow: 0px 12px 28px 5px rgba(181, 181, 181, 1);
    box-shadow: 0px 12px 28px 5px rgba(181, 181, 181, 1);
    z-index: 99;
}

img.card-footer-img {
    width: 0.8em;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.card-footer-text {
    font-size: 0.8em;
}

div.card-footer {
    background-color: white;
}

img.no-events-img {
    max-width: 256px;
    max-height: 256px;
}

.flickity-button {
    background: rgb(24, 129, 248);
}
.flickity-button:hover {
    background: #dc3837;
}

/* icon color */
.flickity-button-icon {
    fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
    left: -40px;
}
.flickity-prev-next-button.next {
    right: -40px;
}

@media only screen and (max-width: 768px) {
    div.welcome > div.container {
        position: relative;
        display: block;
    }

    div.text > p {
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: normal;
    }

    /* position outside */
    .flickity-prev-next-button.previous {
        left: 0px;
    }
    .flickity-prev-next-button.next {
        right: 0px;
    }
}
