{% include "navbar.twig" %}

<h2 class="mt-5 pt-3 mb-5 ml-5 pl-5">Próximos eventos</h2>
<div class="container justify-content-center">
    <div class="carousel mt-3 mb-5" data-flickity='{ "cellAlign": "center" }'>
        {% set start = now|atom %} {% set eventEntriesNext =
        craft.entries.section('eventoInfo').eventDate(">= #{start}").all() %} {%
        if not eventEntriesNext|length %}
        <div class="carousel-cell col-lg-5 col-10">
            <div class="card">
                <img
                    class="card-img-top no-events-img mx-auto"
                    src="/resources/archery.png"
                    alt=""
                />
                <div class="card-body">
                    <h5 class="card-title">
                        Aún estamos armando las pacas
                    </h5>
                    <p class="card-text">
                        Vuelve pronto para conocer sobre nuestras próximas
                        actividades.
                    </p>
                </div>
            </div>
        </div>
        {% else %} {% for entry in eventEntriesNext %} {% include
        "_modules/carousel.twig" %} {% endfor %} {% endif %}
    </div>
</div>

<h2 class="mt-4 pt-3 mb-5 ml-5 pl-5">Eventos anteriores</h2>
<div class="container justify-content-center">
    <div class="carousel mt-3 mb-5" data-flickity='{ "cellAlign": "center" }'>
        {% set eventEntriesOld =
        craft.entries.section('eventoInfo').eventDate("< #{start}").all() %} {%
        if not eventEntriesOld|length %}
        <div class="carousel-cell col-lg-5 col-10">
            <div class="card">
                <img
                    class="card-img-top no-events-img mx-auto"
                    src="/resources/archery.png"
                    alt=""
                />
                <div class="card-body">
                    <h5 class="card-title">
                        Aún estamos armando las pacas
                    </h5>
                    <p class="card-text">
                        Vuelve pronto para conocer sobre nuestras próximas
                        actividades.
                    </p>
                </div>
            </div>
        </div>
        {% else %} {% for entry in eventEntriesOld %} {% include
        "_modules/carousel.twig" %} {% endfor %} {% endif %}
    </div>
</div>

{% include 'footer.twig' %}
