<footer class="col-12">
    <div class="container col-auto mx-auto row  pt-4">
        <div class="row col-lg-4 col-md-6 ml-lg-0 ml-md-0">
            <div class="col-4">
                <p>CONTÁCTANOS</p>
            </div>
            <div class="col-6 ml-0">
                {{ informacionContacto.contactInfo }}
            </div>
        </div>

        <div class="row col-lg-3 col-md-6 ml-0">
            <div class="col-5">
                <p>SERVICIOS</p>
            </div>
            <div class="col-6 ml-0">
                <p>
                    {% set navPages = craft.entries.section('navbar').all() %}
                    {% nav entry in navPages %} {% if not entry.hasDescendants()
                    %} {% set url = entry.sitePageLink.one() %}
                    <a href="{{ url }}">
                        {{ entry.title }}
                    </a>
                    <br />
                    {% endif %} {% endnav %}
                </p>
            </div>
        </div>

        <div class="row col-lg-3 col-md-6 ml-0">
            <div class="col-4">
                <p>ENLACES</p>
            </div>
            <div class="col-7 ml-0">
                <p>
                    {% for module in linksExternos.links.all() %} {% include
                    "_modules/" ~ module.type %} {% endfor %}
                </p>
            </div>
        </div>

        <div class="row justify-content-center col-lg-auto col-md-6 ml-0">
            {% for module in redesSociales.socialMedia.all() %} {% include
            "_modules/" ~ module.type %} {% endfor %}
        </div>
    </div>

    <div class="ref pb-3 mt-4">
        Icons made by
        <a
            href="https://www.flaticon.com/authors/pixel-perfect"
            title="Pixel perfect"
            >Pixel perfect</a
        >
        ,
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
            >Freepik</a
        >
        from
        <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
        >
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
></script>
